.chessMove__board {
   display: flex;
   flex-wrap: wrap;
   width: 400px;
   border: 5px solid black;
 }

.square {
   flex: 1 0 12%;
   width: 50px;
   height: 50px;
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #CCD49B;
   color: black
}

.square__black {
   background-color: #793734;
}
